<%- include('./includes/head') %>
    <%- include('./includes/header') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 my-5">
                    <h1 class="text-start">Cadastre-se!</h1>
                    <p class="text-start">E aproveite nosso aplicativo e todas suas funcionalidades!</p>
                    <%- include('./includes/messages') %>
                    <div class="my-5">
                            <form action="/login/register" method="POST">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                <div class=" form-group mb-3">
                                    <label for="name" class="visually-hidden">Nome</label>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Nome">
                                </div>
                                <div class=" form-group mb-3">
                                    <label for="phone" class="visually-hidden">Telefone</label>
                                    <input name="phone" type="text" class="form-control" id="phone" placeholder="Telefone">
                                </div>
                                <div class=" form-group mb-3">
                                    <label for="email" class="visually-hidden">Email</label>
                                    <input name="email" type="text" class="form-control" id="email" placeholder="E-mail">
                                </div>
                                <div class=" form-group mb-3">
                                    <label for="password" class="visually-hidden">Senha</label>
                                    <input name="password" type="password" class="form-control" id="password" placeholder="Crie sua senha">
                                </div>
                                <div class=" form-group mb-3">
                                    <label for="passwordConfirm" class="visually-hidden">Confirme sua Senha</label>
                                    <input name="passwordConfirm" type="password" class="form-control" id="passwordConfirm" placeholder="Confirme sua Senha">
                                </div>
                                <div class="row justify-content-between">
                                    <div class="col-6"><button type="submit"
                                            class="btn btn-primary mb-3">Salvar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    <div class="col-lg-8"></div>
                </div>
            </div>
        </div>

        <%- include('./includes/footer') %>